<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    <script defer src="/js/home.js"></script>
    <link href='/css/homeCSS.css' rel='stylesheet' />
    {{#if searchCSS}}
        <link href='/css/searchCSS.css' rel='stylesheet' />
    {{/if}}
    
    {{#if userCSS}}
        <link href='/css/userCSS.css' rel='stylesheet' />
    {{/if}}
    
    {{#if loginCSS}}
        <link href='/css/login.css' rel='stylesheet'/>
    {{/if}}
    
    {{#if detailCSS}}
        <link href='/css/stylesheet.css' rel='stylesheet' />
    {{/if}}
</head>

<body>

    {{{ body }}}
</body>

</html>