<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    {{#if loginCSS}}
    <link href='/css/login.css' rel='stylesheet' />
    {{/if}}
    {{#if detailCSS}}
    <link href='/css/stylesheet.css' rel='stylesheet' />
    {{/if}}
</head>

<body>

    {{{ body }}}
</body>

</html>