<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
<<<<<<< HEAD
    <link rel="stylesheet" type="text/css" href="../css/stylesheet.css">
=======
    {{#if loginCSS}}
    <link href='/css/login.css' rel='stylesheet' />
    {{/if}}
>>>>>>> 3a39d40f788b363d0b156020d8990d4adcc60619
</head>

<body>

    {{{ body }}}
</body>

</html>