<div class="know">
    <h1>Let us <br>
        know a <br>
        little more <br>
        about you</h1>
</div>
<div class="details">
    <form>
        <input type="text" class="detailsInput" name="img_Url" placeholder="imgurl" maxLength="255"><br>
        <textarea type="text" class="aboutInput" name="about" placeholder="a few lines about yourself..."
            maxLength="255"></textarea><br>
        <input type="text" class="detailsInput" name="country" placeholder="country" maxLength="50"><br>
        <label class="detailsLabel">Date of Birth</label>
        <input type="date" class="detailsInput" name="dob" placeholder="date of birth(mm/dd/yyyy)" maxLength="255"><br>
        <input type="submit" class="submitInput" value="complete registration">
    </form>
</div>