<div class="know">
    <h1>Let us <br>
        know a <br>
        little more <br>
        about you</h1>
</div>
<div class="details">
    <form  action="/submitDetails/{{user_id.user_id}}" method="POST">
        <input name="firstName" class="detailsInput" placeholder="first name" maxLength="50"><br>
        <input name="lastName" class="detailsInput" placeholder="last name" maxLength="50"><br>
        <input style="display:none" name="user_id" value="{{user_id.user_id}}"/>
        <input type="text" class="detailsInput" name="img_Url" placeholder="imgurl" maxLength="255"><br>
        <textarea type="text" class="aboutInput" name="about" placeholder="a few lines about yourself..."
            maxLength="255"></textarea><br>
        <input type="text" class="detailsInput" name="country" placeholder="country" maxLength="50"><br>
        <label class="detailsLabel">Date of Birth</label>
        <input type="date" class="detailsInput" name="dob" placeholder="date of birth(mm/dd/yyyy)" maxLength="255"><br>
        <input type="submit" class="submitInput" value="complete registration">
    </form>
</div>