<div class="container">
    <div class="row1">
        <h1>Knowledge<span>Base</span></h1>
        <div id="login">
            <input type="text" name="email" placeholder="email">
            <input type="text" name="password" placeholder="password">
            <button class="loginBtn">login</button>
        </div>
    </div>
    <div class="row2">
        <img src="https://i.ibb.co/TLnFXX0/vector-knowledge.jpg" alt="image" width="300px" height="350px">
        <div id="signUp">
            <h1 class="signUpTitle">Join the worlds largest community for knowledge sharing</h1>
            <div class="signUpBody">
                <div class="signUpName">
                    <input type="text" name="firstname" placeholder="firstname">
                    <input type="text" name="lastname" placeholder="lastname">
                </div>
                <input type="text" name="email" placeholder="email">
                <input type="text" name="password" placeholder="password">
                <input type="text" name="confirmpassword" placeholder="confirm password">
            </div>
            <button class="signupBtn">signup</button>
        </div>
    </div>
</div>